.good-form-static input:not([type=submit]), .good-form-static textarea {display:block; width: 250px;}

.good-form-static input[type=submit] {margin: 20px 0; cursor:pointer;}

.good-form-static {margin: 20px 0;}

.good-form-static label {margin: 10px 0; display:block;}

.content {margin: 20px;}

button {cursor: pointer;}

.good-form-static textarea {height:50px; resize:none;}
