#good-form-vspl {position: absolute;
    background: #fff;
    border: 4px solid #A0A0A0;
    border-radius: 10px;
    width: 400px;
    z-index: 99999;
    padding: 20px; 
display:none; 
    font-size: 18px;}

.good-form-overlay {display:none; background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;}

#good-form-vspl .info {display:none;}

#good-form-vspl .close {position: absolute;
    right: -14px;
    top: -12px;
    background: #08b20a;
    border-radius: 10px;
    color: #fff;
 padding: 3px 8px 5px;
    font-size: 16px; }

    #good-form-vspl .close:hover {
cursor:pointer;
background:#ff000c;
    }

 #good-form-vspl input:not([type=submit]), #good-form-vspl textarea {
    width: 375px;
    display: block;
    margin: 10px auto;
    clear: both;
    padding: 10px;
    border: 1px solid #A0A0A0;
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial;   }


    #good-form-vspl textarea {resize: none;}

    #good-form-vspl .primech {
    margin-top: -7px;
    float: left;
    font-size: 12px;
    color: #7d7d7d;
    margin-bottom: 17px;}


    #good-form-vspl input[type=submit] {
    font-family: OpenSansCondensedBold;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    background: #08b20a;
    border-radius: 5px;
    width: 190px;
    height: 47px;
    color: #fff;
    border: none;
    display: block;
    margin: 0 auto;
    cursor: pointer;}

      #good-form-vspl input[type=submit]:hover {background:#ff000c}

     .ui-widget-content .fail {color: red;}

     .ui-widget-content .success {color: green;}

     #dialog {  text-align: justify;}